<web-app>

<servlet>
<servlet-name>getTableData</servlet-name>
<servlet-class>GetTableData</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>getTableData</servlet-name>
<url-pattern>/GetTableData</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>getTableFields</servlet-name>
<servlet-class>GetTableFields</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>getTableFields</servlet-name>
<url-pattern>/GetTableFields</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>adarshchakraborty</servlet-name>
<servlet-class>GenerateIndexPage</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>adarshchakraborty</servlet-name>
<url-pattern>/</url-pattern>
</servlet-mapping>

</web-app>