<web-app>

<servlet>
<servlet-name>RegisterUser</servlet-name>
<servlet-class>RegisterUser</servlet-class>
<init-param>
<param-name>Developer</param-name>
<param-value>Adarsh Chakraborty</param-value>
</init-param>

</servlet>

<servlet-mapping>
<servlet-name>RegisterUser</servlet-name>
<url-pattern>/register</url-pattern>
</servlet-mapping>


</web-app>