<web-app>


<!-- Cookie Method -->
<servlet>
<servlet-name>Servlet1Cookie</servlet-name>
<servlet-class>Servlet1Cookie</servlet-class>
</servlet>

<servlet>
<servlet-name>Servlet2Cookie</servlet-name>
<servlet-class>Servlet2Cookie</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Servlet1Cookie</servlet-name>
<url-pattern>/serv1cookie</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>Servlet2Cookie</servlet-name>
<url-pattern>/serv2cookie</url-pattern>
</servlet-mapping>

<!-- URL Rewrite method  -->

<servlet>
<servlet-name>Servlet1UrlRewrite</servlet-name>
<servlet-class>Servlet1UrlRewrite</servlet-class>
</servlet>

<servlet>
<servlet-name>Servlet2UrlRewrite</servlet-name>
<servlet-class>Servlet2UrlRewrite</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Servlet2UrlRewrite</servlet-name>
<url-pattern>/serv2url</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>Servlet1UrlRewrite</servlet-name>
<url-pattern>/serv1url</url-pattern>
</servlet-mapping>


<!-- Hidden Form Field  -->

<servlet>
<servlet-name>Servlet1HiddenForm</servlet-name>
<servlet-class>Servlet1HiddenForm</servlet-class>
</servlet>

<servlet>
<servlet-name>Servlet2HiddenForm</servlet-name>
<servlet-class>Servlet2HiddenForm</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Servlet1HiddenForm</servlet-name>
<url-pattern>/serv1form</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>Servlet2HiddenForm</servlet-name>
<url-pattern>/serv2form</url-pattern>
</servlet-mapping>

<!-- Session -->

<servlet>
<servlet-name>Servlet1HttpSession</servlet-name>
<servlet-class>Servlet1HttpSession</servlet-class>
</servlet>

<servlet>
<servlet-name>Servlet2HttpSession</servlet-name>
<servlet-class>Servlet2HttpSession</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Servlet1HttpSession</servlet-name>
<url-pattern>/serv1session</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>Servlet2HttpSession</servlet-name>
<url-pattern>/serv2session</url-pattern>
</servlet-mapping>
</web-app>